$main-color: #5d4399;
$secondary-color: #b933a5;
$third-color: #4895ef;
$fourth-color: #9d4edd;

$border-color: #36a78e;

$menu-main-color: #fff;
$background-font: #adb5bd;
$background-footer: #585858;
