@mixin input {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;

  transition: focus 0.12s;

  padding-left: 7.5px;

  &:focus {
    border: none;
    outline: 2px solid $border-color;
  }

  &::placeholder {
    font-size: 0.9rem;
    font-weight: bold;
  }
}

@mixin button {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
  span {
    font-weight: bold;
  }
}

@mixin navbarMenuLi {
  padding-left: 30px;

  i {
    width: 15px;
    color: $menu-main-color;
    margin-bottom: 10px;
    font-size: 1.3rem;
  }
  span {
    color: $menu-main-color;
    padding-left: 25px;
    font-size: 1rem;
    font-weight: 400;
  }
}
