.hero__index-main {
  position: relative;
  grid-area: main;
  .hero__index-firstSection {
    display: flex;
    justify-content: center;
    p {
      margin-top: 25px;
      width: 80%;
      text-align: center;
      font-weight: bold;
      font-style: italic;
      font-size: 1.19rem;
      color: $main-color;
    }
  }
  .hero__index-secondSection {
    display: flex;
    justify-content: center;
    .hero__index-imgContainer {
      margin-top: 50px;
      width: 90%;
      border-radius: 50px;
      img {
        border-radius: 5px;
      }
    }
  }
}
