/* NAVBAR BUTTON */
.hambBtn {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  z-index: 901;
  top: 50px;
  right: 35px;
  width: 33px;
  height: 25px;
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}
.hambBtn-Bar {
  width: 100%;
  height: 3px;
  background-color: $main-color;
  &:first-child {
    transition: 0.63s;
  }
  &:nth-child(2) {
    transition: 0.63s;
  }
  &:last-child {
    transition: 0s;
  }
}
.activeHambBtnBars {
  background-color: $menu-main-color;
  &:first-child {
    transform: rotateZ(-40deg) translate(-6px, 6px);
  }
  &:nth-child(2) {
    transform: rotateZ(40deg);
  }
  &:last-child {
    transform: rotateX(90deg);
  }
}

/* NAVBAR MENU */
.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 100%;
  z-index: 900;
  width: 100%;
  height: 100vh;
  background-color: $main-color;
  transition: 0.69s;
  .navbar__title {
    margin-top: 35px;
    text-align: center;
    span {
      font-weight: 700;
      font-size: 1.8rem;
      color: $menu-main-color;
      span {
        color: #000;
      }
    }
  }
  .navbar__loginContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
    width: 80%;
    .navbar__loginForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 100%;
      input {
        @include input;
        outline: 2px solid $background-font;
      }
      button {
        width: 100%;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: $secondary-color;
        transition: 0.24s;
        &:hover {
          background-color: $fourth-color;
          cursor: pointer;
        }
        span {
          color: $menu-main-color;
          font-weight: bold;
          font-size: 1rem;
        }
      }
    }
    .navbar__recoverPassword {
      text-decoration: none;
      text-decoration: underline;
      &:link {
        color: $third-color;
        &:hover {
          text-decoration: underline;
        }
      }
      &:visited {
        text-decoration: none;
        text-decoration: underline;
        color: $third-color;
      }
    }
    .navbar__register-btnContainer {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 35px;
      text-decoration: none;
      .navbar__register-btn {
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: $third-color;
        transition: 0.24s;
        &:hover {
          background-color: $fourth-color;
          cursor: pointer;
        }
        span {
          color: $menu-main-color;
          font-weight: bold;
          font-size: 0.9rem;
        }
      }
    }
  }
  .navbar__loginContainer-off {
    display: none;
  }
  .navbar__postLoginContainer {
    display: none;
    flex-direction: column;
    width: 100%;
    .navbar__postLogin-userContainer {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: fit-content;
      margin-top: 50px;
      .navbar__postLogin-user {
        display: grid;
        row-gap: 12px;
        align-items: center;
        grid-template-areas:
          "icon user"
          ". closeSeason";
        padding-left: 30px;
        i {
          grid-area: icon;
          height: max-content;
          color: $menu-main-color;
        }
        span {
          grid-area: user;
          margin-left: 10px;
          font-size: 1rem;
          font-weight: 400;
          color: $menu-main-color;
        }
        button {
          grid-area: closeSeason;
          background-color: transparent;
          border: none;
          width: fit-content;
          span {
            text-decoration: underline;
            color: $third-color;
            &:hover {
              cursor: pointer;
            }
            &:active {
              color: #000;
            }
          }
        }
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      margin-top: 55px;
      li {
        @include navbarMenuLi;
        color: $menu-main-color;
        font-weight: bold;
      }
    }
  }
  .navbar__postLoginContainer-on {
    display: flex;
  }
}

.navbar.activeNavbar {
  left: 0;
  z-index: 900;
}

.error {
  outline: 2px solid rgb(182, 29, 29);
}
